@font-face {
    font-family: "PTMono-Regular";
    src: url(./PTMono-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face { 
    font-family: "Inter_24pt-Black"; 
    src: url(../fonts/Inter_24pt-Black.ttf); 
} 
    